*{
    box-sizing: border-box;
}

body{
    background-color: #fefefe;
    color: #050505;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    padding: 3em;
    max-width: 70ch;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}

.container-hero, .container-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container-hero > img {
    border-radius: 50%;
}
.container-links {
    width: 75%;
    margin: auto;
}
 

